<!--hacer background -->
<header>
  <div id="mycontenedor">
    <div class="section">
      <nav class="navbar navbar-end is-info is-fixed-top">
        <a [routerLink]="['/']" class="navbar-item navbar-start title mylogo">Nightingale APP</a>
        <a [routerLink]="['/producto']" class="navbar-item">Productos</a>
        <a  class="navbar-item">Signup</a>
        <a [routerLink]="['/login']" class="navbar-item">Login</a>
        <a (click)="signOut()" class="navbar-item">Log out </a>
      </nav>
    </div>
  </div>
</header>

